*::-webkit-input-placeholder {
	color: #8a8a8a;
	opacity: 1;
}
*:-moz-placeholder {
	color: #8a8a8a;
	opacity: 1;
}
*::-moz-placeholder {
	color: #8a8a8a;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #8a8a8a;
	opacity: 1;
}

input,
textarea{
	border: none;
	outline: none;
}
h1,
h2 {
	font-family: 'ProximaNovaLight';
	color: #2f2f2f;
	font-size: 26px;
	line-height: 27px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 40px 0 30px;
}
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
header {
	background: #ffffff;
	position: relative;
	z-index: 3;
	min-height: 36px;
}
nav.main_nav {
	min-height: 36px;
	overflow: hidden;
	display: flex;
	z-index: 10;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header nav a,
footer .footer_nav a {
	display: block;
	float: left;
	padding: 0 40px;
	height: 36px;
	line-height: 36px;
	color: #7d7d7d;
	text-decoration: none !important;
	font-size: 11px;
	text-transform: uppercase;
	font-family: 'ProximaNovaLight';
	letter-spacing: 2px;
}
header nav a:hover,
footer .footer_nav a:hover {
	color: #ff171f;
	text-decoration: none;
}

.menu_link {
	display: block;
	float: right;
	width: 36px;
	height: 36px;
	padding: 8px 3px;
	display: none;
	position: relative;
	z-index: 11;
	background: #fff;
	border-radius: 18px;
}
.menu_link .hamb {
	display: block;
	width: 30px;
	height: 20px;
	position: relative;
}
.menu_link .hamb > span {
	display: block;
	width: 30px;
	height: 4px;
	background: #7d7d7d;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all .1s linear;
}
.menu_link .hamb::before,
.menu_link .hamb::after {
	content: "";
	display: block;
	width: 30px;
	height: 4px;
	background: #7d7d7d;
	position: absolute;
	transition: all .1s linear;
}
.menu_link .hamb::before {
	top: 0;
}
.menu_link .hamb::after {
	bottom: 0;
}

/* открытое состояние кнопки */

.menu_link.open .hamb > span{
	width: 0;
}
.menu_link.open .hamb::before {
	transform: rotate(45deg);
	margin-top: 8px;
}
.menu_link.open .hamb::after {
	transform: rotate(-45deg);
	margin-bottom: 8px;
}
/* Основной блок */
main {
	background: url(../img/bg.jpg) no-repeat center 0 #ececec;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}
main .container {
	position: relative;
	z-index: 2;
}
.fixed_logo {
	position: fixed;
	top: 0;
	z-index: 1;
}
.logo_block {
	display: block;
	background: url(../img/logo.png) no-repeat center;
	width: 170px;
	height: 100vh;
}
.flex {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-wrap: wrap;
}
/* Инстаграм */
.inst_block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.inst_block .img_item {
	width: 50%;
	background-color: #2f2f2f;
	overflow: hidden;
}
.inst_block .img_item img {
	width: 100%;
	max-width: 100%;
	max-height: 500px;
	object-fit: cover;
	cursor: pointer;

}
.h_block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.h_block h1 {
	flex-grow: 1;
}


/* Управляющие элементы "стрелки" */
.controlls {
	width: 120px;
	height: 50px;
	display: flex;
	justify-content: space-between;

}
.controlls > a {
	display: block;
	width: 50px;
	height: 50px;
	background: url('../img/arrows.png') no-repeat;
	border: 1px solid #5f5f5f;
}
.controlls > a.prev {
	background-position: 17px 13px;
}
.controlls > a.next {
	background-position: -17px 13px;
}
.controlls > a:hover {
	background-position-y: -38px;
	border-color: #fd3e45;
}

/* Новости */
.news_block {
	margin-bottom: 150px;
}
.news_block .new {
	background: #fff;
	display: flex;
	flex-direction: row;
}
.news_block .new:nth-child(2n) {
	flex-direction: row-reverse;
}
.news_block .new > div {
	width: 50%;
	overflow: hidden;
}
.new_img_block {
	background-color: #2f2f2f;
}
.new_img_block img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.new_description_block {
	padding: 25px 30px;
	position: relative;
}
.new_description_block h3 {
	font-family: "ProximaNovaRegular";
	font-weight: normal;
	margin: 0;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 26px;
	color: #2f2f2f;
}
.new_description_block data {
	display: block;
	color: #bdbdbd;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 25px;
	font-family: "ProximaNovaLight";
}
.new_description_block p {
	color: #2f2f2f;
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
}
.new_description_block a.more {
	position: absolute;
	bottom: 25px;
	left: 30px;
	font-size: 14px;
	color: #fd3e44;
}

/* Салоны */
.salon_block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;

}
.salon_block .salon {
	width: 50%;
	overflow: hidden;
	background-color: red;
	position: relative;
}
.salon_block .salon img {
	width: 100%;
	max-width: 100%;
	max-height: 490px;
	object-fit: cover;
	filter: grayscale(100%);
	transition: filter .2s linear;

}
.salon_block .salon:hover img {
	filter: grayscale(0%);
}
.salon_block .salon:hover .info {

}
.salon_block .salon:hover .info .link a {
	opacity: 1;
}
.salon_block .salon .info {
	position: absolute;
	min-height: 80px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%, transparent 100%);
	background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%, transparent 100%);
	background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%, transparent 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%, transparent 100%);
}
.salon .info .contacts {
	width: 60%;
	color: #ffffff;
	font-size: 14px;
	font-family: 'ProximaNovaLight';
	padding-left: 25px;
}
.salon .info .contacts > div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.salon .info .contacts i {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 3px;
	background: url(../img/sprite2.png) no-repeat;
}
.salon .info .contacts .adress i {
	background-position: 0px -2px;
}
.salon .info .contacts .phones i {
	background-position: 0px -36px;
}
.salon .info .phones a {
	color: #fff;
	text-decoration: none;
}
.salon .info .link {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.salon .info .link a {
	display: block;
	text-decoration: none;
	color: #ff1720;
	font-size: 16px;
	text-transform: uppercase;
	height: 40px;
	line-height: 38px;
	width: 170px;
	text-align: center;
	font-family: 'ProximaNovaLight';
	border: 1px solid #ff1720;
	background: transparent;
	transition: all .12s linear;
	opacity: 0;
}
.salon .info .link a:hover {
	color: #fff;
	background: #ff1720;
}




/*Салоны внутри*/
.salon_gallery {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.salon_gallery > div {

}
.salon_gallery .large_photo {
	flex-basis: 670px;
	max-width: 670px;
}
.salon_gallery .large_photo img {
	width: 100%;
	object-fit: cover;
}
.salon_gallery .small_photo_block {
	flex-basis: 285px;
	max-width: 285px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	cursor: pointer;
}
.small_photo_block .small_photo {
	width: 33.333%;
	max-width: 95px;
	max-height: 65px;
	overflow: hidden;
}
.small_photo_block .small_photo img {
	max-width: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all .2s linear;
	cursor: pointer;
}
.small_photo_block .small_photo.active img {
	filter: grayscale(0%);
}
.salon_contacts {
	font-size: 18px;
	color: #2f2f2f;
	font-family: 'ProximaNovaRegular';
	margin-bottom: 25px;

}
.salon_contacts > div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.salon_contacts i {
	display: block;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	background: url(../img/sprite3.png) no-repeat;
}
.salon_contacts .phones a {
	color: #2f2f2f;
	text-decoration: none;
}
.salon_contacts .phones i {
	background-position: -4px -47px;
}
.salon_contacts .adress i {
	background-position: -6px -3px;
}
.map_block {
	margin-bottom: 50px;
}
.map_block img {
	max-width: 100%;
	height: auto;
}

/*Команда*/
.team_photo_block {
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 85px;

}
.team_photo_block .person {
	width: 33.333%;
	position: relative;
	background: #323232;
}
.team_photo_block .person img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .2s linear;
}
.team_photo_block .person .fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgba(0,0,0, .7);
	transition: all .2s linear;
	overflow: hidden;
}
.team_photo_block .person .fade > div {
	padding: 20px;
}
.team_photo_block .person:hover img {
	filter: blur(3px);
}
.team_photo_block .person:hover .spec_info {
	display: none;
}
.team_photo_block .person:hover .fade {
	height: 100%;
}
.person .spec_info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 20px;
}
.person .fade .name,
.person .spec_info .name {
	color: #ffffff;
	font-size: 20px;
	line-height: 21px;
	font-family: 'ProximaNovaRegular';
	text-transform: uppercase;
}
.person .fade .specialization,
.person .spec_info .specialization {
	color: #b5b5b5;
	font-size: 16px;
	line-height: 17px;
	font-family: 'ProximaNovaRegular';
	text-transform: uppercase;
	margin-bottom: 15px;
}
.person .spec_info .specialization {
	margin-bottom: 0;
	margin-top: 5px;
}
.person .fade .red {
	color: #fe242c;
	font-size: 18px;
	line-height: 19px;
	font-family: 'ProximaNovaLight';
	text-transform: uppercase;
	margin-bottom: 15px;
}
.person .fade p {
	color: #ffffff;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
}
.person .fade a.more {
	display: block;
	color: #fe242c;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 20px;
}
.person .fade .adress {
	color: #ffffff;
	font-size: 14px;
	font-family: 'ProximaNovaLight';
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 15px;
}
.person .fade .adress i {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 3px;
	background: url(../img/sprite2.png) no-repeat;
	background-position: 0px -2px;
}

/*О нас*/
.about_block p {
	text-align: justify;
	color: #262626;
	font-size: 16px;
	margin: 0;
}
.person_block {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 30px;
}
.person_block .img_block {
	max-width: 40%;
}
.person_block .img_block img {
	max-width: 100%;
}
.person_block .descript_block {
	max-width: 60%;
	padding-left: 25px;
}
.person_block .descript_block h2 {
	color: #2f2f2f;
	font-size: 26px;
	line-height: 27px;
	font-family: 'ProximaNovaLight';
	text-transform: uppercase;
	margin-top: 0;
	font-weight: normal;
}
.person_block .descript_block p {
	margin-bottom: 30px;
}
.person_block .descript_block p:last-of-type {
	margin-bottom: 0;
}

/*Услуги*/
.list {
	margin-bottom: 20px;
}
.list a.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	height: 42px;
	width: 200px;
	transition: all .2s linear;
	color: #2f2f2f;
	border: 1px solid #2f2f2f;
}
.list.active a.title {
	color: #ff171f;
	border-color: #ff171f;
}
.list a.title:hover {
	color: #ffffff;
	background: #ff171f;
	border-color: #ff171f;
}
.list ul.list_ul {
	list-style: none;
	padding: 15px 0;
	margin: 0;
	display: none;
}
.list:first-child ul.list_ul {
	display: block;
}
.list ul.list_ul a {
	display: block;
	text-decoration: none;
	color: #2f2f2f;
	font-size: 14px;
	line-height: 26px;
	padding: 7px 0;
	padding-left: 20px;
}
.list ul.list_ul a:hover,
.list ul.list_ul a.active {
	color: #ff171f;
}
.services_gallery {
	margin-bottom: 30px;
}
.services_gallery .large_photo {
	margin-bottom: 20px;
}
.services_gallery .large_photo img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}
.services_gallery .small_photo_block {
	display: flex;
	flex-wrap: wrap;
}
.services_gallery .small_photo_block .small_photo {
	max-width: 100px;
	max-height: 69px;
	cursor: pointer;
}
.services_gallery .small_photo_block .small_photo img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	cursor: pointer;
}
.services_gallery .small_photo_block .small_photo.active img {
	filter: grayscale(0%);
}
.description p {
	color: #262626;
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
	margin: 0;
	margin-bottom: 30px;
}

.description + h2 {
	color: #262626;
	margin: 0;
	margin-bottom: 5px;
}
.price_block {
	background: #ffffff;
	padding: 10px 100px;
	margin-bottom: 50px;
}
.price_block ul {
	padding: 0;
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
}
.price_block .price {
	display: flex;
	color: #262626;
	font-size: 18px;
	font-family: 'ProximaNovaLight';
}
.price_block .price > div {
	width: 50%;
	text-align: center;
}
.price .title {
	margin-bottom: 30px;
}
.price .title::before {
	content: "";
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 5px;
	vertical-align: middle;
	background: url('../img/sprite4.png') no-repeat;
}
.price .height_block .title::before {
	background-position: 0px 1px;
}
.price .cost_block .title::before {
	background-position: -50px 1px;
}
.price_block + .main_form_block {
	margin-left: 50px;
}
/* Форма "Записаться в салон"" */
.main_form_block {
	max-width: 570px;
	background: #fff;
	padding: 40px 70px;
	margin-bottom: 40px;
	margin-left: 100px;
}
.main_form_block .title_form {
	font-family: 'ProximaNovaLight';
	font-size: 26px;
	line-height: 27px;
	color: #2f2f2f;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}
.main_form_block .main_form_input {
	width: 100%;
	height: 52px;
	line-height: 52px;
	border: 1px solid #d3d3d3;
	padding: 0 20px;
	color: #8a8a8a;
	font-size: 14px;
	margin-bottom: 10px;
}
.agree {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	cursor: pointer;
}
.check {
	display: none;
}
.custom_checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 5px;
	background: #2f2f2f;
	cursor: pointer;
}
.check:checked + .custom_checkbox::before {
	content: "\2714";
	color: #fff;
}
.agree .text {
	font-size: 14px;
	color: #8a8a8a;
}
.main_form_block .send_form {
	display: block;
	margin: 15px auto 0;
	width: 250px;
	height: 48px;
	line-height: 45px;
	text-align: center;
	color: #ff1720;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid #ff1720;
	background-color: transparent;
	transition: all .2s linear;
}
.main_form_block .send_form:hover {
	background-color: #ff1720;
	color: #fff;
}







/* Блок видео */
.video_block {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.video_block video {
	width: 100%;
	height: auto;
}
/* Центральный блок контактов */
.main_contact_block > div {
	display: flex;
	align-items: center;
	color: #929292;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'ProximaNovaLight';
	margin-bottom: 20px;
}
.main_contact_block .adress > div.fullday::after {
	content: "24 часа";
	color: #ff1720;
	font-size: 11px;
	margin-left: 14px;
}
.main_contact_block i {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 12px;
	background: url(../img/sprite.png) no-repeat;
}
.main_contact_block .phones a,
.main_contact_block .email a {
	display: block;
	color: #929292;
	font-size: 14px;
	text-decoration: none !important;
}
.main_contact_block .adress i {
	background-position: -6px -4px;
}
.main_contact_block .phones i {
	background-position: -36px -4px;
}
.main_contact_block .email i {
	background-position: -66px -2px;
}
.main_contact_block .submit {
	display: block;
	text-align: center;
	width: 250px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #ff1720;
	font-size: 15px;
	color: #ff1720;
	font-family: 'ProximaNovaLight';
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 7px;
	transition: all .2s linear;
}
.main_contact_block .submit:hover {
	background: #ff1720;
	color: #fff;
}
/* Футер */
footer {
	background: #fff;
	position: relative;
	z-index: 2;
}
footer > .container > div {
	min-height: 88px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
footer .copyright {
	font-family: 'ProximaNovaLight';
	font-size: 12px;
	color: #c7c7c7;
}
footer .footer_nav {
	display: flex;
	flex-wrap: wrap;
}
footer .footer_nav a {
	height: auto;
	line-height: normal;
	padding: 0 15px;
}
footer .social_links a {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #d7d7d7;
	background: url(../img/social.png) no-repeat;
}
footer .social_links a:hover {
	border-color: #929292;
}
footer .social_links a.inst {
	background-position: 2px -28px;
}
footer .social_links a.inst:hover {
	background-position: 2px 0px;
}
footer .social_links a.fb {
	background-position: -27px -28px;
}
footer .social_links a.fb:hover {
	background-position: -27px 1px;
}
footer .social_links a.vk {
	background-position: -54px -27px;
}
footer .social_links a.vk:hover {
	background-position: -54px 2px;
}
footer .social_links a.ok {
	background-position: -80px -27px;
}
footer .social_links a.ok:hover {
	background-position: -80px 1px;
}
.overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: none;
	cursor: pointer;
}

/* Галерея инстаграм */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.popup_bg {
	background: rgba(0,0,0,0.8);
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.popup_img {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	max-height: 94%;
	max-width: 94%;
	margin: 1% 0 0 0;
}
.close_popup {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
    padding: 0px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}