/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header nav a {
		padding: 0;
	}
	.salon_block .salon .info {
		flex-wrap: wrap;
		background: rgba(0,0,0, .7);
		padding-top: 5px;
	}
	.salon_block .salon .info > div {
		width: 100%;
	}
	.salon .info .contacts {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 1;
	}
	.salon .info .link a {
		margin-bottom: 5px;
	}
	.person .fade .name, .person .spec_info .name {
		font-size: 15px;
		line-height: 15px;
	}
	.person .fade .specialization, .person .spec_info .specialization {
		font-size: 13px;
		line-height: 13px;
	}
	.person .fade .red,
	.person .fade .adress {
		display: none;
	}
	.person .fade p {
		font-size: 12px;
	}
	.td,
	.th,
	.tr,
	.thead .tr {
		width: auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	footer > .container {
		justify-content: space-around;
	}
	footer .social_links,
	footer .copyright {
		order: 2;
	}
	.row.flex {
		display: block;
	}
	.fixed_logo {
		left: 0;
		display: none;
	}
	nav.main_nav {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		height: 100%;
		background: #ececec;
		width: 0;
		overflow: hidden;
		transition: all .3s linear;
	}
	nav.main_nav.open {
		width: 250px;
	}
	nav.main_nav a {
		display: block;
		padding: 5px 15px;
		font-size: 15px;
		width: 100%;
	}
	.menu_link {
		display: block;
	}
	.main_form_block,
	.price_block + .main_form_block {
		max-width: 100%;
		margin: 20px auto;
	}
	.news_block {
		margin-bottom: 30px;
	}
	.person_block {
		flex-direction: column;
	}
	.person_block .img_block {
		text-align: center;
		margin-bottom: 20px;
	}
	.person_block .img_block,
	.person_block .descript_block {
		max-width: 100%;
		width: 100%;
		padding: 0;
	}
	.list a.title,
	.aside_menu {
		width: 100%;
		max-width: 100%;
	}
	.list {
		margin-bottom: 5px;
	}
	.list:first-child ul.list_ul {
		display: none;
	}
	.list a.title:hover,
	.list.active a.title:hover {
		background: none;
		color: #ff171f;
		border-color: #ff171f;
	}
	.list.active a.title {
		color: #2f2f2f;
		border-color: #2f2f2f;	
	}
	.list ul.list_ul {
		text-align: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	footer .footer_nav {
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding: 15px;
	}
	.news_block .new {
		flex-wrap: wrap;
	}
	.news_block .new > div {
		width: 100%;
	}
	.salon_block .salon {
		width: 100%;
		margin-bottom: 5px;
	}
	.team_photo_block .person {
		width: 50%;
	}
	.person .fade .name, .person .spec_info .name {
		font-size: 20px;
		line-height: 21px;
	}
	.person .fade .specialization, .person .spec_info .specialization {
		font-size: 17px;
		line-height: 17px;
	}
	.person .fade .red {
		display: block;
	}
	.person .fade .adress {
		display: flex;
	}
	.person .fade p {
		font-size: 14px;
	}
	.price_block {
		padding: 10px 50px;
	}
	.place_block {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media only screen and (max-width : 670px) {
	.salon_gallery {
		flex-wrap: wrap;
	}
	.salon_gallery .large_photo {
		margin-bottom: 15px;
	}
	.salon_gallery .small_photo_block {
		flex-basis: auto;
		max-width: initial;
		width: 100%;
	}
	.person .fade .name, .person .spec_info .name {
		font-size: 15px;
		line-height: 15px;
	}
	.person .fade .specialization, .person .spec_info .specialization {
		font-size: 13px;
		line-height: 13px;
	}
	.person .fade .red,
	.person .fade .adress {
		display: none;
	}
	.person .fade p {
		font-size: 12px;
	}
	.tr,
	.thead .tr {
		height: auto;
	}
	.tr,
	.td {
		display: block;
	}
	.tr {
		padding: 0 40px;
	}

}
@media only screen and (max-width : 500px){
	.team_photo_block {
		justify-content: center;
	}
	.team_photo_block .person {
		width: 100%;
		max-width: 300px;
		margin-bottom: 10px;
	}
	.person .fade .name, .person .spec_info .name {
		font-size: 20px;
		line-height: 21px;
	}
	.person .fade .specialization, .person .spec_info .specialization {
		font-size: 17px;
		line-height: 17px;
	}
	.person .fade p {
		font-size: 14px;
	}
	.catalog_drop ul {
		width: 300px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main_form_block {
		padding: 40px 20px;
	}
	.main_form_block .send_form {
		width: 100%;
	}
	.controlls {
		height: 30px;
		width: 80px;
	}
	.controlls > a {
		height: 30px;
		width: 30px;
	}
	.controlls > a.prev {
		background-position: 6px 4px;
	}
	.controlls > a.next {
		background-position: -27px 4px;
	}
	.controlls > a:hover {
		background-position-y: -47px;
	}
	.salon_contacts {
		font-size: 14px;
	}
	.main_form_block .title_form,
	h1 {
		font-size: 20px;
	}
	.price_block {
		padding: 10px;
	}
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.price_team {
		justify-content: space-between;
	}
	.price_team .person {
		width: 320px;
	}
}